/vendor/
composer.phar
*.orig
.DS_Store
*.(BACKUP|BASE|LOCAL|REMOTE).*
*_BACKUP_*.txt
*_BASE_*.txt
*__LOCAL_*.txt
*__REMOTE_*.txt
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/modules.xml
!.idea/*.iml  
.idea/**/dataSources.*
.idea/**/gradle.xml
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
out/
.idea_modules/
.gradle.classpath
.gradle/dependency_checksums.txt
/node_modules/
/npm-debug.log
/yarn-error.log
.public/storage
.public/hot
.public_html/storage
.public_html/hot
.app/storage/
.storage/*.key
.env*
.Homestead.{json,yaml}
/.vagrant/
.phpunit.*
/*.phpunit.*
/**/*.phpunit.*
/build/
